.gracias{
    background-color: #fff;
    height:95vh; 
    }
    .gracias_cont-logo{
    background-color: #BF2B2B;
    height:200px; 
    }
    .gracias__logo{
    width: 50%;
    }
    .gracias__titulo{
    color: #BF2B2B;
    }

    
    .mercadopago-button{
    background-color: red !important;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 20px !important;
    margin-top: auto;
    }


    @media (min-width: 540px) {
        
    
        .carrito {
        width: 8%;
        right: 0%;
        }
    
        
    }
    
    @media (min-width: 768px) {
        
    
        .carrito {
        
        right: 3%;
        }
        .dropdown-menu{
        left: -25px !important;
        }

        
        .gracias_cont-logo{
        height:300px; 
        }
        .gracias__logo{
        width: 30%;
        }

        
    }
    
    @media (min-width: 1024px) {
        .dropdown-menu{
        left: -40px !important;
        }
        
    }
    
    @media (min-width: 1200px) {
        .carrito {
        width: 4%;
        right: 3%;
        background-color: #fff;
        padding: 6px;
        border-radius: 10px;
        }
        .mostrarCarrito {
            transform: translateX(-25px);
        }


        
        .gracias{
        height:95vh; 
        }
        .gracias_cont-logo{
        height:400px; 
        }
        .gracias__logo{
        width: 30%;
        }
        
        
    }

    @media (min-width: 1920px) {
        .dropdown-menu{
        left: -60px !important;
        }

       
        .gracias{
        height:85vh; 
        }
        .gracias__textos{
        margin-top: 30px;
        }
        
        
    }
